In [1]:
import pandas as pd

data = {
    '收盤價': [42, 43, 42, 44, 45],
    '開盤價': [43, 44, 43, 45, 46],
}

df = pd.DataFrame(data)

df

   收盤價  開盤價
0   42   43
1   43   44
2   42   43
3   44   45
4   45   46

In [2]:
date = pd.date_range('20200301', periods=5)
date

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df.set_index(date, inplace=True)
df

            收盤價  開盤價
2020-03-01   42   43
2020-03-02   43   44
2020-03-03   42   43
2020-03-04   44   45
2020-03-05   45   46

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-03-01 to 2020-03-05
Freq: D
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   收盤價     5 non-null      int64
 1   開盤價     5 non-null      int64
dtypes: int64(2)
memory usage: 120.0 bytes

In [6]:
df.loc['20200301']

收盤價    42
開盤價    43
Name: 2020-03-01 00:00:00, dtype: int64

In [8]:
df.iloc[0]

收盤價    42
開盤價    43
Name: 2020-03-01 00:00:00, dtype: int64

In [9]:
df.loc['20200301':'20200303']

            收盤價  開盤價
2020-03-01   42   43
2020-03-02   43   44
2020-03-03   42   43

In [10]:
df.iloc[0:3]

            收盤價  開盤價
2020-03-01   42   43
2020-03-02   43   44
2020-03-03   42   43

In [11]:
df['收盤價']

2020-03-01    42
2020-03-02    43
2020-03-03    42
2020-03-04    44
2020-03-05    45
Freq: D, Name: 收盤價, dtype: int64

In [12]:
df['收盤價'].loc['20200301':'20200303']

2020-03-01    42
2020-03-02    43
2020-03-03    42
Freq: D, Name: 收盤價, dtype: int64

In [13]:
df[df['收盤價'] > 43]

            收盤價  開盤價
2020-03-04   44   45
2020-03-05   45   46

In [14]:
df[(df['收盤價'] > 43) & (df['收盤價'] < 45)]

            收盤價  開盤價
2020-03-04   44   45

In [15]:
df.sort_values('收盤價', ascending=False, inplace=True)
df

            收盤價  開盤價
2020-03-05   45   46
2020-03-04   44   45
2020-03-02   43   44
2020-03-01   42   43
2020-03-03   42   43

In [16]:
df.max()

收盤價    45
開盤價    46
dtype: int64

In [17]:
df.min()

收盤價    42
開盤價    43
dtype: int64